<div class="container">
  <mat-card class="dashboard-card">
    <h2>Manage Houses</h2>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let house of houses">
        <img
          *ngIf="house.picture"
          [src]="'http://localhost:3000/uploads/' + house.picture"
          alt="{{ house.title }}"
        />
        <div>{{ house.title }}</div>
        <div>{{ house.description }}</div>
        <div>{{ house.price | currency }}</div>
        <div>{{ house.location }}</div>
        <div>{{ house.type }}</div>
        <button mat-raised-button color="primary" (click)="viewHouse(house.id)">
          View
        </button>
        <button mat-raised-button color="accent" (click)="editHouse(house.id)">
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="removeHouse(house.id)">
          Delete
        </button>
      </div>
    </div>
  </mat-card>
</div>
