<div class="container">
  <mat-card class="dashboard-card">
    <h2>Edit House</h2>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="house.title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input
        matInput
        [(ngModel)]="house.description"
        placeholder="Description"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input
        matInput
        [(ngModel)]="house.price"
        type="number"
        placeholder="Price"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput [(ngModel)]="house.location" placeholder="Location" />
    </mat-form-field>
    <div>
      <label>Type</label>
      <div>
        <input
          type="radio"
          id="forSale"
          name="type"
          value="For Sale"
          [(ngModel)]="propertyType"
        />
        <label for="forSale">For Sale</label>
      </div>
      <div>
        <input
          type="radio"
          id="forRent"
          name="type"
          value="For Rent"
          [(ngModel)]="propertyType"
        />
        <label for="forRent">For Rent</label>
      </div>
    </div>
    <div>
      <label for="file">Picture</label>
      <input type="file" id="file" (change)="onFileSelected($event)" />
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="
        updateHouse(house.title, house.description, house.price, house.location)
      "
    >
      Update House
    </button>
  </mat-card>
</div>
