<mat-toolbar color="primary" class="navbar">
  <span>RealSpot</span>
  <span class="spacer"></span>

  <!-- Home Button with Icon -->
  <button
    mat-button
    routerLink="/home"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon svgIcon="home"></mat-icon>
    Home
  </button>

  <!-- Dashboard Button with Icon -->
  <button mat-button routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon svgIcon="dashboard"></mat-icon>
    Dashboard
  </button>

  <!-- Admin Button with Icon -->
  <button mat-button routerLink="/admin" routerLinkActive="active-link">
    <mat-icon svgIcon="admin_panel_settings"></mat-icon>
    Admin
  </button>

  <!-- Logout Button with Icon -->
  <button mat-button (click)="logout()">
    <mat-icon svgIcon="logout"></mat-icon>
    Logout
  </button>
</mat-toolbar>
