<div class="container">
  <mat-card class="home-card">
    <div class="search-container">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput #searchQuery placeholder="Search properties" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="searchProperties(searchQuery.value)"
      >
        Search
      </button>
    </div>

    <div class="filter-container">
      <button
        mat-raised-button
        color="accent"
        (click)="filterProperties('all')"
      >
        All
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="filterProperties('For Rent')"
      >
        For Rent
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="filterProperties('For Sale')"
      >
        For Sale
      </button>
    </div>

    <h2>Property Listings</h2>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let property of filteredProperties">
        <img
          *ngIf="property.picture"
          [src]="'http://localhost:3000/uploads/' + property.picture"
          alt="{{ property.title }}"
        />
        <div>{{ property.title }}</div>
        <div>{{ property.description }}</div>
        <div>{{ property.price | currency }}</div>
        <div>{{ property.location }}</div>
        <div>Agent: {{ property.owner.name }}</div>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/property', property.id]"
        >
          View Details
        </button>
      </div>
    </div>
  </mat-card>
</div>
