<div class="container">
  <mat-card class="login-card">
    <h1 class="title">RealSpot</h1>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-button color="accent" (click)="navigateToSignup()">
      Sign Up
    </button>
  </mat-card>
</div>
